{{!--

    TypeKit
    =======

--}}
{{# typekit.kit_id }}
<script src="https://use.typekit.net/{{ . }}.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
{{/ typekit.kit_id }}