<p>{{# _t }}For a thumbnail alongside the tweet, the image must be a minimum size of 120px by 120px. The image will be cropped to a square on all platforms.{{/ _t }}</p>
<p>{{# _t }}For a full-width prominent image, should be at least 280px in width and at least 150px in height.{{/ _t }}</p>
