{{!--

    Web Metadata \ Document Information
    ===================================

--}}
<title>{{& documentTitle }}</title>

{{# hasAlternateTranslations }}
{{# alternateTranslations }}
<link rel="alternate" hreflang="{{ hreflang }}" href="{{# withBaseUrl }}{{ url }}{{/ withBaseUrl }}" title="{{ language.name }}">

{{/ alternateTranslations }}
{{/ hasAlternateTranslations }}
{{# metaDescription }}
<meta name="description" content="{{ . }}">

{{/ metaDescription }}
