{{!--

    Web Metadata \ OpenGraph Data
    =============================

--}}
{{# socialMedia.twitter.username }}
<meta property="twitter:site"        content="{{ . }}">
{{/ socialMedia.twitter.username }}
{{# twitterCardType }}
<meta property="twitter:card"        content="{{ . }}">
{{/ twitterCardType }}
{{# canonicalUrl }}
<meta property="twitter:url"         content="{{ . }}">
{{/ canonicalUrl }}
{{# metaTitle }}
<meta property="twitter:title"       content="{{ . }}">
{{/ metaTitle }}
{{# twitterCardImage }}
<meta property="twitter:image"       content="{{ . }}">
{{/ twitterCardImage }}
{{# metaDescription }}
<meta property="twitter:description" content="{{ . }}">
{{/ metaDescription }}
