{{!--

    Google \ reCAPTCHA
    ==================

--}}
{{# google.recaptcha.private_key }}
<script src="https://www.google.com/recaptcha/api.js?hl={{ currentLanguage }}" async defer></script>
{{/ google.recaptcha.private_key }}
